#search-bar, .select, .columns {
    margin: 10px 0;
}

.column {
    margin: 10px;
}

.park-names {
    color: black;
    font-weight: bold;
}

.images {
    width: 10%;
    height: 10%;
}

.submit { 
    border:black solid 5px; 
}

.containerHeader { 
    border:solid red 5px; 
}
.container { 
    border:solid yellow 5px;
}
